.drenaje,
.hora,
.concentracion,
.caracteristica,
.orificio {
    height: fit-content;
    padding: 10px;
    width: 100%;
}

.drenaje input[type="number"],
.hora input[type="time"],
.concentracion input[type="text"],
.caracteristica input[type="text"],
.orificio input[type="text"] {
    padding: 5px;
    border-bottom: 1px solid gray;
    transition: border-bottom-color 0.3s;
    border-top: none;
    border-left: none;
    border-right: none;
    content: "";
}


#btnguardar {
    margin-left: 72%;
    background-color: #04BAFC;
    color: white;
}


.btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 5%;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 5%;
}

.btn-container a {
    margin-left: 5%;
}

.btn-cancelar {

    background-color: gray;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 3px 20px;
    font-size: 15px;
    font-family: 'Jost', sans-serif;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 5%;
}

.btn-nuevo {
    background-color: #00DBA1;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 3px 20px;
    font-size: 15px;
    font-family: 'Jost', sans-serif;
    border-radius: 5px;
    text-decoration: none;
}

option {
    color: black;
    background-color: white;
    
}

.imagen img {
    width: 110px;
    height: 110px; 
  }

  #contenedorImagenes {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
  }
  
  .opcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px; /* Espacio entre las opciones */
    margin-bottom: 20px; /* Espacio debajo de las opciones */
  }
  
  
  .opcion p, input {
    margin-top: 10px; /* Espacio entre la imagen y el texto */
    text-align: center;
    justify-content: center;
  }

  .caracteristica select, .concentracion select{
    text-align: center;
    background-color: #cfcaca;
    width: 180px;
    height: 35px;
    border-radius: none;
    border: none;
  }

  .close{
    border: none;
    border-radius: 80%;
    background-color: #ffffff;
    opacity: 1;
    font-size: 24px;
  }
  #fechaHoraFin,#fechaHoraIni{
    font-size: 10px;
  }
  select {
    margin-left: 13px;
  }

  .opcionInfeccionManguito{
    margin-left: 130px;
  }


  