.drenaje,
.hora,
.concentracion,
.caracteristica,
.orificio {
    height: fit-content;
    padding: 10px;
    width: 100%;
}

.drenaje input[type="number"],
.hora input[type="time"],
.concentracion input[type="text"],
.caracteristica input[type="text"],
.orificio input[type="text"] {
    padding: 5px;
    border-bottom: 1px solid gray;
    transition: border-bottom-color 0.3s;
    border-top: none;
    border-left: none;
    border-right: none;
    content: "";
}


#btnguardar {
    margin-left: 72%;
    background-color: #04BAFC;
    color: white;
}


.btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 5%;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 5%;
}

.btn-container a {
    margin-left: 5%;
}

.btn-cancelar {

    background-color: gray;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 3px 20px;
    font-size: 15px;
    font-family: 'Jost', sans-serif;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 5%;
}

.btn-nuevo {
    background-color: #00DBA1;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 3px 20px;
    font-size: 15px;
    font-family: 'Jost', sans-serif;
    border-radius: 5px;
    text-decoration: none;
}

option {
    color: black;
    background-color: white;
    
}

.imagen img {
  width: 95px;
  height: 95px;
}

#contenedorImagenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centrar las imágenes horizontalmente */
}

.opcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px; /* Espacio debajo de las opciones */
  flex-basis: calc(33.33% - 10px); /* Ancho de cada opción (33.33% - 20px de margen) */
}

.opcion:last-child {
  flex-basis: 100%; /* Ancho del último elemento para que ocupe toda la fila */
  display: flex;
  justify-content: center; /* Centrar la última imagen horizontalmente */
  align-items: center; /* Centrar la última imagen verticalmente */
}


  .caracteristica select, .concentracion select{
    text-align: center;
    background-color: #cfcaca;
    width: 180px;
    height: 35px;
    border-radius: none;
    border: none;
  }

  .close{
    border: none;
    border-radius: 80%;
    background-color: #ffffff;
    opacity: 1;
    font-size: 24px;
  }
  #fechaHoraFin,#fechaHoraIni{
    font-size: 10px;
  }
  select {
    margin-left: 13px;
  }

  .seleccionOrificio{
    color: rgb(245, 74, 74);
    text-align: center;
    font-style: italic;
    margin-right:10px;
    margin-left: 10px;
  }





  