*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

:root {
  --color-bg-calendar: rgba(4, 186, 252, 0.2);
  --color-cell: #000000;
  --color-cell-disabled: #424649;

}

.root {
  padding: 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  background-color: #04BAFC;
  margin: auto;
  margin: 0;
  padding: 0;
}
.navbar img{
  height: 30px;
  margin: 0;
  padding: 0;
  width: 30px;
  margin-left: 20px;
}
.title-principal-app {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 7px;
}


#bann{
  height: 70px;
}




.calendar {
  padding: 20px 10px;
  background-color: var(--color-bg-calendar);
  border-radius: 3px;
  width: 100%;
  max-width: 300px;
  font-family: sans-serif;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

}

.calendar__header {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.calendar .control {
  color: rgb(0, 0, 0);
  font-weight: bold;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0 5px;
}

.grid__header,
.grid__body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.grid__header {
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}

.grid__body {
  grid-auto-rows: 40px;
  color: var(--color-cell);
}

.grid__cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid__cell--gd {
  cursor: pointer;
}

.grid__cell--selected {
  color: white;
  background-color: #04BAFC;
  border-radius: 50%;
  border: 2px solid #04BAFC;
  box-shadow: 0 0 0 2px white inset;
}

.grid__cell--disabled {
  color: var(--color-cell-disabled);
  cursor: not-allowed;
}

h3 {
  text-align: center;
  align-items: center;
  display: flex;
}

.card-mayor {
  padding: 20px;
}

.card-menor {
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 0px;
  max-width: 350px;
}

.estado {
  display: grid;

  margin: 0 auto;
  align-items: center;
  color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-color: black;
}

.datos {
  margin-left: 2px;
}

.acciones {
  display: grid;
  align-items: center;
}

#vertical {
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-align: center;
  justify-content: center;
  display: flex;

  margin: 0 auto;
  align-items: center;
}

.centrado {
  margin: 0 auto;
}

h3 {
  text-align: center;
  font-weight: bold;
  margin: 0 auto;
}


#navPacientes {
  text-align: right;
  margin-top: 1%;
}

#nombreUsuario {
  color: white;
}

html,
body {
  background-color: #ffffff;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

.logo img {
  width: 50px;
  height: 50px;
}

.devolverse {
  margin-left: 20px;
  display: flex;
  align-items: center;
  width: 5%;
  vertical-align: middle;
}

.devolverse {
  width: 30px;
  height: 50px;
  margin-left: 20px;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.active{
  margin-right: 10%;
}



#nav{
  padding-left: 50px;
  background-color: #04BAFC;
  color: white;
}
#text{
  color: white;
}


#navbarSupportedContent{
  justify-content: right;
  padding-right: 50px;
  padding-top: 3%;
  
}

#nombreUsuario{
  color: white;
}

.contenedor{
  width: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
  
}

#cuadro{
width: 150%;
height: 150%;
background-color: rgba(255,255,255, 0.6);
}
#equipo{
  justify-content: center;
  text-align: center;
  align-items: center;
}

.imge{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.imagen-crecible {
  width: 100%;
  height: auto;
  transition: transform 0.3s;
}

.imagen-crecible:hover {
  transform: scale(1.3);
}

p{
  text-align: justify;
}


.riñon{
  text-align: center;
}

.texto{
  height: 100%;
  background-color: rgba(4, 186, 252, 0.2);
}

#card{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); 
}
.vertical{
  display: flex;
  align-items: center;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  justify-content: center;
  align-items: center;
}
.small-css{
  font-size: x-small;
}

.logo img {
  
  width: 50px;
  height: 50px;
}

.container-fluid{
  width: 100%; /* Ancho en píxeles */
  height: 200px;
  background-color: rgba(178, 189, 186, 0.48);
  display: flex;
  justify-content: center;
  align-items: center;
}

.row{
  width: 100%;
}


.icono{
  width: 30px;
}

#icono {
  width: 30px;
  height: 30px;
}

.devolverse {
  margin-left: 20px;
  display: flex;
  align-items: center;
  width: 5%;
  vertical-align: middle;
}

.devolverse {
  width: 30px;
  height: 50px;
  margin-left: 20px;
}


@media (min-width: 992px) and (max-width: 1199px) {
  .imge{
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-left: 15px;
    
}

}
@media (max-width: 991px){
  .small-css{
    font-size: large;
  }
}

