html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
body {
    margin: 0;
    padding: 0;
    background-color: #dbf5f7;
    color: #000000;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }
  header {
    width: 100%;
    background-color: #63D0FF;
    color: #fff;
    padding: 10px;
  }
  
 
  .logo {
    font-size: 20px;
  }

  
  
  .navbar {
    background-color: #04BAFC;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 40px;
    position: relative;
  }
  
  nav ul li a {
    color: #fff;
    display: block;
    text-decoration: none;
  }
  
  nav ul li:hover > ul {
    display: block;
    background-color: #63d0ff;
  }
  
  nav ul ul {
    width: 120px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #63d0ff;
    padding: 0;
  }
  
  nav ul ul li {
    width: 120px;
    float: none;
    display: list-item;
    position: relative;
  }
  
  nav ul ul li a {
    padding: 10px 15px;
    color: #fff;
  }
  
  nav ul ul li a:hover {
    background-color: #bedfec;
  }
  
  nav ul ul ul {
    top: 0;
    left: 100%;
  }
  
  nav ul:before,
  nav ul:after {
    content: " ";
    display: table;
  }
  
  nav ul:after {
    clear: both;
  }
  
  .container {
    text-align: center;
    background-color: #dbf5f7;
    color: #808080;
    padding: 20px;
  }
  h1{
    font-weight: bold;
  }

  #campos{
    color:red;
    margin-left: 5%;
  }

  #asq{
    color: red;
    font-weight: bold;
        font-size: 14px;
        transition: transform 0.3s ease-in-out;
  }

  #data2{
    
    color: #555;
    font-weight: bold;
    font-size: 14px;
    transition: transform 0.3s ease-in-out; 
    
  }
  
  .devolverse{
    width: 30px;
    height: 30px;
    margin-left: 20px;
  }

  .form-row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  flex-wrap: wrap;
  margin-bottom: 10px;
  }
  
  h2{
    text-align: center;
  }
  
  
  .form-column {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin-left: 5%;
  }
  label {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .checkbox-container {
    text-align: left;
  }
  
  .guardarPac {
    background-color: #63D0FF;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 10px 40px;
    font-size: 18px;
    margin: 0 auto;
    border-radius: 10px;
  }

  .btn-cerrar{
   border: none;
   background-color: #fff;
   font-size: 40px;
  }



  .form-container {
    color: #000000;
    padding: 20px;
    height: fit-content;
    font-size: 15px;
    text-align: left;
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
  }
    
    .nombre:focus,
    .documento:focus,
    .fecha:focus,
    #direccion:focus,
    .eps:focus,
    .telefono:focus,
    .ocupacion:focus,
    .tiposangre:focus,
    .rh:focus,
    .peso:focus,
    .pesoseco:focus,
    .correo:focus,
    .estatura:focus{
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: transparent;
        border-bottom-color: #89898f;
        outline: none;
        content: "";
      }
    
      #data {
        color: #555;
        font-weight: bold;
        font-size: 14px;
        transform: translateY(10px);
        transition: transform 0.3s ease-in-out;
    }

    #prueba {
      color: #555;
      font-weight: bold;
      font-size: 14px;
      transition: transform 0.3s ease-in-out;
  }
  
    
    
    input[type="text"], input[type="date"]{
       
       width: 95%;
        padding: 10px;
        margin: 5px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        transition: border-color 0.3s ease-in-out;
    }


    #selectedEps{
       
      width: 95%;
      height: 20%;
       padding: 10px;
       margin: 5px 0;
       border: 1px solid #ccc;
       border-radius: 5px;
       transition: border-color 0.3s ease-in-out;
   }

   #selectedCantidad{
    width: 95%;
    height: 20%;
     padding: 10px;
     margin: 5px 0;
     border: 1px solid #ccc;
     border-radius: 5px;
     transition: border-color 0.3s ease-in-out;
   }

   #selectedOrificio{
    width: 95%;
    height: 20%;
     padding: 10px;
     margin: 5px 0;
     border: 1px solid #ccc;
     border-radius: 5px;
     transition: border-color 0.3s ease-in-out;
   }

   #selectedDocumento{
    width: 95%;
      height: 20%;
       padding: 10px;
       margin: 5px 0;
       border: 1px solid #ccc;
       border-radius: 5px;
       transition: border-color 0.3s ease-in-out;
   }

    .btn-save {
      display: flex;
      justify-content: center; 
      margin-top: 10px; 
      border-radius: 10px;
    }

    h1{
      text-align: center;
    }
 
    .cancelar{
      background-color: gray;
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 10px 40px;
  font-size: 18px;
  margin: 0 auto;
  border-radius: 10px;
  border-style: none;
  }

  .cancelar:focus, .guardarPac:focus{
    outline: none;
  }

  .buttons{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      gap:10px;
      text-decoration: none;
  }


    

    #enf{
      border-color: #555;
      margin-top: 4%;
      justify-content: center;
      align-items: center;
    }

    .hipertension, .diabetes{
      display: flex;
      justify-content: start;
      align-items: start;
     
    }

    
#nombreUsuario{
  color: white;
}

.cancelar{
    
  background-color: gray;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 3px 20px;
  font-size: 15px;
  font-family: 'Jost', sans-serif;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 3%;        
}

.guardarPac{
background-color: #04BAFC;
color: #fff;
border: none;
cursor: pointer;
padding: 3px 20px;
font-size: 15px;
font-family: 'Jost', sans-serif;
border-radius: 5px;
text-decoration: none;
margin-left: 1%;
}
  
  /* Estilos responsivos */
  @media (max-width: 768px) {
    .form-column {
      width: 100%;
    }
    .buttons{
      width: 100px;
    }
  }

   

   
  