html,

body {
  background-color: #ffffff;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

.flotan {
  position: fixed;
  bottom: 40px;
  right: 40px;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.fil {
  background-color: #B2EAF2;
}

.logo img {
  width: 50px;
  height: 50px;
}

.title {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-alergias {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

label {
  margin-left: 5px;
}

.title-principal-app {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 7px;
}

#icono {
  width: 40px;
  height: 40px;
}

#icon {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 0;
  margin-left: 10px;

}



#container2 {
  width: 250px;
  height: 150px;
  background-image: linear-gradient(#F5FBFE, #B3E9FF);
  display: flex;
  justify-content: center;
  align-items: center;

}

.devolverse {
  margin-left: 20px;
  display: flex;
  align-items: center;
  width: 5%;
  vertical-align: middle;
}

#container {
  width: 100%;
  /* Ancho en píxeles */
  height: 250px;
  /* background-color: rgba(0, 219, 161, 0.48); Uso de rgba para transparencia */
  background-image: linear-gradient(#F5FBFE, #B3E9FF);
  display: flex;
  justify-content: center;
  align-items: center;
}

#textcontainer {
  width: 100%;
  /* Ancho en píxeles */
  height: 50px;
  margin: auto;
  background-color: #e7e7e7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

#textcontainer2 {
  width: 250px;
  height: 30px;
  margin: auto;
  background-color: #e7e7e7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}



.text-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.856);
  /* Añade un fondo semi-transparente para mayor legibilidad */
  padding: 10px;
  text-align: center;
}


#prescontainer {
  width: 90%;
  height: 100px;
  margin: auto;
  background-color: #e7e7e7;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#promcontainer {
  width: 80%;
  height: 100px;
  margin: auto;
  background-color: #04BAFC;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}


.col-6,
.col-12 {
  margin: 0 auto;
}

h3 {
  text-align: center;
  font-weight: bold;
}

h5 {
  color: #5a5e64;
  font-weight: bold;
}

.sinbordefondo {
  background-color: #eee;
  border: 0;
}

#usomedicamento {
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 10%;
  width: 70%;
}

#date {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 1%;
}

#derecho {
  text-align: right;
}

.actualizar,
.ver,
.inhabilitar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

th,
td,
tr {
  text-align: center;
  margin-top: auto;
  vertical-align: middle;
}

thead {
  background-color: #B2EAF2;

}
#sinHacer {
  color: #fa0808;
}
thead:hover {
  background-color: #04BAFC;
  color: white;
}

tbody tr:hover {
  background-color: #e7e7e7;
}

#prescripcionTable {
  width: 50%;
  margin: auto;
  font-size: small;
}

#alergiaTable {
  width: 80%;
  margin: auto;
}


#icono {
  width: 30px;
  height: 30px;
}

#btnguardar {
  margin-left: 72%;
  background-color: #00DBA1;
  color: white;
}



#agregaralergia {
  margin: auto;
  width: 90%;
}

.drenaje p,
.concentracion p,
.hora p,
.caracteristica p,
.orificio p {
  display: inline-block;
  vertical-align: middle;
}

#sinAlergias {
  color: #fa0808;
}

.title-recambio {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.title-prescripcion {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin: 3.5px;
}

.devolverse {
  width: 30px;
  height: 50px;
  margin-left: 20px;
}

.devolverseRecambio {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-top: 10px;
}

.devolverseAlergia {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}

#recamTable {
  width: 96%;
}

#recamTable,
th {

  font-size: 80%;
}


#logo-principal {
  width: 50px;
  height: 50px;
  background-color: #04BAFC;
  border-radius: 50%;
  float: right;
}

#nombreCrear {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border-color: #89898f;
}

#nombreCrear:focus {
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #89898f;
  outline: none;
  content: "";
}

#nombreEditar {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border-color: #89898f;
}

#nombreEditar:focus {
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #89898f;
  outline: none;
  content: "";
}

#editar,
#inhabilitar {
  width: 40px;
  height: 40px;
}

.image-container {
  display: flex;
  align-items: center;
}

.image-container a {
  display: block;
  margin: 0 auto;
}

.modalAgregar {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.atras {
  margin-top: 30px;
}

.grid-item {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 90%;
  margin-bottom: 3rem;
  border: 1px solid #e0e0e0;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 8px 5px 5px #d8d8d8;
 
}

.grid-item-content {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.description {
  text-align: center;
  font-style: italic;
  margin-right: 5px;
  margin-left: 5px;
}

.description p{
  text-align: center;
}




#paciente,
#documento {
  color: #837f7f;
  text-align: center;
  font-style: italic;
}

.dataPaciente {
  margin: 10px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  font-family: 'Jost', sans-serif;
  padding: 20px;
  height: fit-content;
  font-size: 20px;
  text-align: left;
  width: fit-content;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.table{
  border: rgb(194, 193, 193) 1px solid;
}

.modal-header{
  text-align: center;
}

.close{
  background-color: transparent;
  border: none;
}

li{
  cursor: pointer;
}

.form-check-input{
  margin-left: 9px;
}
 
.form-check input[type="checkbox"] {
  margin-bottom: 0.5rem;
}