body{
  background-color: #ffffff;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

.container{
    margin: 0;
    padding: 0;
    width: 100%;
}

#btnguardar {
  background-color: #89898f;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dataPeso, .dataAltura{
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
  padding: 0 5px 0 0;
}

label{
  padding: 0 3px 0 0;
}

#icono {
  width: 30px;
    height: 30px;
}

.navbar {
  background-color: #04BAFC;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.name{
  margin-bottom: 10px;
}
.navbar h1{
  align-items: center;
  
}

#icon {
  width: 30px;
    height: 30px;
    margin-top: 6px;
  padding: 0;
  margin-left: 20px;
}

.title{
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.editarPerfil img{
  width: 40px;
    height: 40px;
    margin-left: auto;
}

.nombre{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.eps{
    color: #fff;
}

.titleAlergia{
    color:#000;
    margin-left:50px;
}

.nav-cuidador {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #00DBA1;
    opacity: 0.48;
    height: auto;
    width: 100%;
    
  }
  
  .nav-cuidador p {
    margin: 0 auto;
    height: 25px;
    margin-left: 10px;
    width: 100%;
  }
  
  .nombreCuidador,
  .cuidador {
    color: #fff;
    font-size: 20px;
  }

  .eps-nav,
.alergias,
.dataCuidador {
  margin-bottom: 0.5em;
 
}

.eps{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.titleAlergia,
.dataAlergia {
  margin: 0;
}

.alergiasPac h6,
.dataAlergia{
  display: flex;
  justify-content: center;
  align-items: center;
}

  .titleAlergia{
    color: #000;
    font-size: 15px;
  }
  
  .addCuidador {
    width: 40px;
    height: 40px;
    float: right;
    margin-top: 1%;
    margin-right: 10%;
  margin-left: 0;
  }

.dataCuidador{
    background-color: #E0E0E0;
  width: 96%;
    
}

.container {
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    margin: 0;
    padding: 0;
  }
  
  .info-cuidador {
    margin-bottom: 20px; 
    margin-left: 10px;
}

.alerg-nueva{
    background-color: #00DBA1;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 3px 20px;
    font-size: 15px;
    font-family: 'Jost', sans-serif;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 1%;
    margin-right: 27px;
    float: right;
    opacity: 0.60;
}


.info-cuidador p {
    margin: 0 5%; 
    font-size: 20px;
}

.eps-nav{
  background-color: #00DBA1;
  opacity: 0.48;
  height: 40px;
  width: 96%;
  margin: 0 auto;
  margin-top: 10px;
}

.dataCuidador{
  margin: 0 auto;
}

.dataCuidadorUp{
  width: 96%;
  margin: 0 auto;
}

#hipertensionTrue{
  margin-left: 10px;
}

.checks, .segundosDatos{
  margin-bottom: 15px;
}
.devolverse{
  margin-left: 20px;
}

.dataPeso, .dataAltura{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.nacimiento{
  margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }
