.btn-nuevo-container button {
    padding: 5px 10px;
    
  }  

  .horaDren p,
  .concentr p,
  .vol p,
  .drenaj p,
  .balan p,
  .liquid p,
  .orif p
  {
    display: inline-block;
    vertical-align: middle;
  }

  p strong{
    color: #04BAFC;
  }

  